{
  "extends": [
    "standard"
  ],
  "plugins": [
    "mocha"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "sinon": true,
    "expect": true,
    "chai": true,
    "angular": true,
    "inject": true
  }
}
